{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	<title>Polls List</title>
{% endblock %}


{% block content %}

	{% include 'messages.html' %}

	<br>

	{% if user.is_authenticated %}

	<div class="container mt-2">
		
		<form method="POST">
			{%csrf_token %}
			<div class="form-row">
				<div class="mr-auto ml-auto">
					<h1><i>Create New Poll</i></h1>
					<hr>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-10 mb-0 mr-auto ml-auto">
					{{ form.question_text|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-5 mb-0 mr-auto ml-auto">
					{{ form.choice1|as_crispy_field }}
				</div>
				<div class="form-group col-md-5 mb-0 mr-auto ml-auto">
					{{ form.choice2|as_crispy_field }}
				</div>
			</div>			<div class="form-row">
				<div class="form-group col-md-5 mb-0 mr-auto ml-auto">
					{{ form.choice3|as_crispy_field }}
				</div>
				<div class="form-group col-md-5 mb-0 mr-auto ml-auto">
					{{ form.choice4|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6 mb-0 mr-auto ml-auto">
					{{ form.choice5|as_crispy_field }}
				</div>
			</div><br>
			<div class="form-row text-center">
				<div class="form-group col-md-12 mb-0">
					<button class="btn btn-success mr-3" type="submit">Create</button>
					<button class="btn btn-danger mr-3" type="reset">Reset</button>
				</div>
			</div>
		</form>

	</div>
	

	<!-- {% if mypolls %}
		My Polls
	{% else %}
		General Polls
	{% endif %} -->


	{% else %}
	
	<div class="w-50 mr-auto ml-auto">
		<h2>
	      You are not authenticated!! <br>
	      Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Signup</a>!!
	    </h2>
	</div>

	{% endif %}

{% endblock %}