{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	<title>Polls List</title>
{% endblock %}

{% block headerright %}

    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome, {{ user.get_username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profileupdate' %}">Update Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'login' %}"><button class="btn btn-success mx-1" type="submit">Login</button></a>
      </li>
      <li class="nav-item">
        <a href="{% url 'signup' %}"><button class="btn btn-success mx-1" type="submit">Signup</button></a>
      </li>
      {% endif %}
    </ul>

{% endblock %}

{% block content %}

	{% if messages %}

	{% for message in messages %}
		<div class="alert alert-{{message.tags}} alert-dismissible fade show w-50 ml-auto mr-auto mt-3" role="alert">
			<h2>{{ message }}</h2>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
	{% endfor %}

	{% endif %}

	<br>

	{% if user.is_authenticated %}

	<div class="container">
		
		<form method="POST">
			{%csrf_token %}
			<div class="form-row">
				<div class="mr-auto ml-auto">
					<h1><i>Create New Poll</i></h1>
					<hr>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6 mb-0 mr-auto ml-auto">
					{{ form.question_text|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6 mb-0 mr-auto ml-auto">
					{{ form.choice1|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6 mb-0 mr-auto ml-auto">
					{{ form.choice2|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6 mb-0 mr-auto ml-auto">
					{{ form.choice3|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6 mb-0 mr-auto ml-auto">
					{{ form.choice4|as_crispy_field }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6 mb-0 mr-auto ml-auto">
					{{ form.choice5|as_crispy_field }}
				</div>
			</div><br>
			<div class="form-row">
				<div class="form-group col-md-6 mb-0 mr-auto ml-auto">
					<button class="btn btn-success mr-3" type="submit">Create</button>
					<button class="btn btn-danger mr-3" type="reset">Reset</button>
				</div>
			</div>
		</form>

	</div>
	

	<!-- {% if mypolls %}
		My Polls
	{% else %}
		General Polls
	{% endif %} -->


	{% else %}
	
	<div class="w-50 mr-auto ml-auto">
		You are not autheticated!! Please Login or Signup!!
	</div>

	{% endif %}

{% endblock %}