<footer class="footer mt-4 h-25" style="background-color: black;">

  <div class="container py-3 text-center">
    <div class="text-light mb-3">
      &copy; Copyright 2021 Parth Shah
    </div>
    <div class="text-light">
      |
      <a class="mx-2" style="color: white" target="_blank" href="https://www.linkedin.com/in/parth-99-shah"><i class="fab fa-linkedin-in fa-lg"></i></a>
      |
      <a class="mx-2" style="color: white" target="_blank" href="
      https://github.com/Parth-Shah-99/"><i class="fab fa-github fa-lg"></i></a>
      |
      <a class="mx-2" style="color: white" target="_blank" href="https://www.whatsapp.com/"><i class="fab fa-whatsapp fa-lg"></i></a>
      |
      <a class="mx-2" style="color: white" target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-lg"></i></a>
      |
      <a class="mx-2" style="color: white" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg"></i></a>
      |
      <a class="mx-2" style="color: white" target="_blank" href="https://www.youtube.com/"><i class="fab fa-youtube fa-lg"></i></a>
      |
    </div>
  </div>

</footer>
