{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	<title>Login</title>
{% endblock %}


{% block content %}	

	{% include 'messages.html' %}

	<div class="w-50 mr-auto ml-auto">
		<hr style="background-color: red; height: 0.15em">
		<h2>Login Form</h2>
		<hr style="background-color: red; height: 0.15em">
	</div>

	<div class="w-50 mr-auto ml-auto">
		<form method="POST">
			{% csrf_token %}

			{{ form|crispy }}
			<button type="submit" class="btn btn-outline-success" value="Login">Login</button>
			<small class="ml-4">
				<a href="{% url 'password_reset' %}"><u>Forgot Password?</u></a>
			</small>
		</form>
		<br>
	</div>

{% endblock %}

