{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	<title>Reset Password</title>
{% endblock %}


{% block content %}	

	{% include 'messages.html' %}

	<div class="w-50 mr-auto ml-auto">
		<hr style="background-color: red; height: 0.15em">
		<h2>Reset Password</h2>
		<hr style="background-color: red; height: 0.15em">
	</div>

	<div class="w-50 mr-auto ml-auto">
		<form method="POST">
			{% csrf_token %}

			{{ form|crispy }}
			<button type="submit" class="btn btn-outline-success">Reset Password</button>
		</form>
		<br>
	</div>

{% endblock %}

