{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	<title>Password Reset</title>
{% endblock %}

{% block headerright %}
	
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="{% url 'login' %}"><button class="btn btn-success mx-1" type="submit">Login</button></a>
        <a href="{% url 'signup' %}"><button class="btn btn-success mx-1" type="submit">Signup</button></a>
      </li>
    </ul>

{% endblock %}

{% block content %}

	<div class="alert alert-info w-75 mr-auto ml-auto mt-4">
		Your Password has been Reset successfully. You can now Login with New password.
	</div>

{% endblock %}