{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	<title>Result of Poll {{ question.id }}</title>
{% endblock %}


{% block content %}

	{% include 'messages.html' %}

	<br>

	{% if user.is_authenticated %}

	<div class="container">

		<fieldset style="border: 1px solid black;">
			<legend>
				<hr class="my-0">
				<p class="d-inline ml-2">{{ question.question_text }} ({{ question.total_votes }} votes)</p>
				<hr class="my-0">
			</legend>
			<small class="mr-4 ml-3">
				Published by:
				{% if question.get_userobj.userprofile.anonymous %}
					"<a href="#">Anonymous</a>"
				{% else %}
					"<a href="{% url 'userprofilepolls' question.published_by %}">{{ question.published_by }}</a>"
				{% endif %}
			</small>
			<small class="ml-4">Published on: {{ question.published_on|date:"F d, Y" }}</small><br><br>
			
			<ul>

			{% for choice in question.choice_set.all %}

				<li> {{ choice.choice_text }} - ({{ choice.votes }} vote{{ choice.votes|pluralize}})</li>
				<div class="w-50">
					<div class="progress" style="height: 20px;">
						<div class="progress-bar" role="progressbar" style="width: {{ choice.percentage_votes }}%">	{{ choice.percentage_votes }}%
						</div>
					</div>
				</div>
				<br>
			
			{% endfor %}
		
		</fieldset>

	</div>
	
	{% else %}

		{% include 'not_authenticated.html' %}

	{% endif %}
	
{% endblock %}