{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	{% if specific_user_anonymous %}
		<script type="text/javascript">
			alert("The User you are trying to search wants to be Anonymous.");
			window.location.href = "{% url 'profilepolls' %}";
		</script>
	{% endif %}
	<title>Polls List</title>
{% endblock %}


{% block content %}

	{% include 'messages.html' %}

	<br>

	{% if user.is_authenticated %}

	<div class="container mt-3">

		<div class="dropdown d-inline">
		  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <i class="fas fa-font border border-primary rounded px-1 py-1"></i> Sort by Text
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="?text_az=True">
		    	<i class="fas fa-sort-alpha-down border border-info rounded-circle px-1 py-1"></i>  A-Z
		    </a>
		    <a class="dropdown-item" href="?text_za=True">
		    	<i class="fas fa-sort-alpha-down-alt border border-info rounded-circle px-1 py-1"></i>  Z-A
		    </a>
		  </div>
		</div>

		<div class="dropdown d-inline">
		  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <i class="fas fa-calendar-day border border-primary rounded px-1 py-1"></i> Sort by Date
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="?date_new=True">
		    	<i class="fas fa-sort-numeric-down border border-info rounded-circle px-1 py-1"></i>  Newest First
		    </a>
		    <a class="dropdown-item" href="?date_old=True">
		    	<i class="fas fa-sort-numeric-up border border-info rounded-circle px-1 py-1"></i>  Oldest First
		    </a>
		  </div>
		</div>

		<a class="ml-4" href="{% url 'profilepolls' %}"><i class="fas fa-times-circle"></i> Clear all filters</a>

		{% if specific_user %}
		<h2 class="mb-4 mt-4">
			All Polls by "<a href="{% url 'userprofilepolls' view.kwargs.username %}">{{ view.kwargs.username }}</a>"
			(Total - {{ page_obj.paginator.count }} poll{{ page_obj.paginator.count|pluralize }})
		</h2>
		{% else %}
		<h2 class="mb-4 mt-4">
			{% if mypolls %}My{% else %}All{% endif %} Polls
			(Total - {{ page_obj.paginator.count }} poll{{ page_obj.paginator.count|pluralize }})
		</h2>
		{% endif %}

		<div class="" id="questionlist">
		{% for question in question_list %}

			<fieldset style="border: 1px solid black;">
				<legend>
					<hr class="my-0">

					<a href="{% url 'pollsdetail' question.id %}"
						style="color:{% if question in questions_voted %} green
									{% else %} red
									{% endif %}">
						<p class="d-inline ml-2">
							{{ question.question_text }}
							({{ question.total_votes }} vote{{ question.total_votes|pluralize }})
						</p>
					</a>
					{% if question in questions_voted %}
						<small class="mx-4">Already Voted!!</small>
					{% endif %}
					
					<hr class="my-0">
				</legend>
				<small class="mr-4 ml-3">
					Published by:
					{% if question.get_userobj.userprofile.anonymous %}
						"<a href="#" onclick="alert('The user is Anonymous. They don\'t want to display their name!!!');">Anonymous</a>"
					{% else %}
						"<a href="{% url 'userprofilepolls' question.published_by %}">{{ question.published_by }}</a>"
					{% endif %}	
				</small>
				<small class="ml-4">Published on: {{ question.published_on|date:"F d, Y" }}</small>
			
			</fieldset>

			<br><br>

		{% endfor %}
		</div>

		<div class="mb-4">
		{% if is_paginated %}

			{% if page_obj.has_previous %}
				<a class="btn btn-outline-secondary btn-sm"
					href="?{% include 'pagination.html' %}page=1">&lt;&lt;
				</a>
				<a class="btn btn-outline-secondary btn-sm"
					href="?{% include 'pagination.html' %}page={{ page_obj.previous_page_number }}">&lt;
				</a>
			{% endif %}

			{% for num in page_obj.paginator.page_range %}
				{% if page_obj.number == num %}
					<a class="btn btn-secondary btn-sm"
						href="?{% include 'pagination.html' %}page={{ num }}">{{ num }}
					</a>
				{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
					<a class="btn btn-outline-secondary btn-sm"
						href="?{% include 'pagination.html' %}page={{ num }}">{{ num }}
					</a>
				{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
				<a class="btn btn-outline-secondary btn-sm"
					href="?{% include 'pagination.html' %}page={{ page_obj.next_page_number}}">&gt;
				</a>
				<a class="btn btn-outline-secondary btn-sm"
					href="?{% include 'pagination.html' %}page={{ page_obj.paginator.num_pages }}">&gt;&gt;
				</a>
			{% endif %}

		{% endif %}
		</div><br><br>

	</div>

	<!-- {% if mypolls %}
		My Polls
	{% else %}
		General Polls
	{% endif %} -->


	{% else %}
	
		{% include 'not_authenticated.html' %}

	{% endif %}

{% endblock %}