{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	<title>Poll {{ question.id }}</title>
{% endblock %}


{% block content %}

	{% include 'messages.html' %}

	<br>

	{% if user.is_authenticated %}

	<div class="container">
		<form action="{% url 'pollsresult' question.id %}" method="POST">
		{% csrf_token %}

		<fieldset style="border: 1px solid black;">
			<legend>
				<hr class="my-0">
				<p class="d-inline ml-2">
					{{ question.question_text }}
					{% if disabled %}
					({{ question.total_votes }} vote{{ question.total_votes|pluralize }})
					{% endif %}
				</p>
				{% if disabled %}
					<small class="mx-4"
						style="{% if disabled %}color:red{% endif %}">Already Voted!!
					</small>
				{% endif %}
				<hr class="my-0">
			</legend>
			<small class="mr-4 ml-3">
				Published by:
				{% if question.get_userobj.userprofile.anonymous %}
					"<a href="#">Anonymous</a>"
				{% else %}
					"<a href="{% url 'userprofilepolls' question.published_by %}">{{ question.published_by }}</a>"
				{% endif %}
			</small>
			<small class="ml-4">Published on: {{ question.published_on|date:"F d, Y" }}</small><br><br>

			{% for choice in question.choice_set.all %}

				<input class="ml-2" type="radio" name="choice" id="choice{{ choice.id }}" value="choice{{ choice.id }}" {{ disabled }} 
				{% if selected_choice == choice %}
					checked
				{% endif %}required>
				<label for="choice{{ choice.id }}">{{ choice.choice_text }}
					{% if disabled %}
						- ({{ choice.votes }} vote{{ choice.votes|pluralize}})
					{% endif %}
				</label><br>
			
			{% endfor %}

			{% if question.choice_set.all %}
				<br><input class="ml-3 mb-2" type="submit" name="Vote" value="Vote" {{ disabled }}>
				{% if disabled %}
					<a href="{% url 'pollsresult' question.id %}">
						<input type="button" name="Result" value="Result">
					</a><br>
				{% endif %}
			{% else %}
				<br><input type="submit" name="Vote" value="No Options to Vote" disabled><br>
			{% endif %}
		
		</fieldset>

		</form>

	</div>
	


	{% else %}
	
	<div class="w-50 mr-auto ml-auto">
		<h2>
	      You are not authenticated!! <br>
	      Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Signup</a>!!
	    </h2>
	</div>

	{% endif %}
	
{% endblock %}