{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	<title>Update Profile</title>
{% endblock %}


{% block content %}

	{% include 'messages.html' %}


	{% if user.is_authenticated %}

	<div class="w-50 mr-auto ml-auto">
		<hr style="background-color: red; height: 0.15em">
		<h2>Update Profile Form</h2>
		<hr style="background-color: red; height: 0.15em">
	</div>
	<br>

	<div class="w-50 mr-auto ml-auto">
		<form method="POST">
			{% csrf_token %}

			{{ form|crispy }}
			<button type="submit" class="btn btn-outline-success">Update</button>
		</form>
		<br>
	</div>

	{% else %}

	<div class="w-50 mr-auto ml-auto">
		<h2>
	      You are not authenticated!! <br>
	      Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Signup</a>!!
	    </h2>
	</div>

	{% endif %}

{% endblock %}
