{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	<title>Profile</title>
{% endblock %}


{% block content %}

	{% include 'messages.html' %}

	<br>

	{% if user.is_authenticated %}

	<div class="w-75 mr-auto ml-auto mt-3">

    <img class="mr-3" src="{{ user.userprofile.profile_pic.url }}" width="100px" height="auto">

		Hello <b>{{ user.username }}</b>, this is your profile!!<br>
    <div class="w-75 alert alert-info mt-4">
      People will see you as
      <strong>
        {% if user.userprofile.anonymous %} "Anonymous".
        {% else %} "{{ user.username }}".
        {% endif %}
      </strong>
    </div>

    <div>
      <table class="w-75 table table-striped">
        <thead>
          <tr>
            <th class="text-center" colspan="2">Your Profile Details</th>
          </tr>
          <tr>
            <th>Detail</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>No. of Polls you have Voted on</td>
            <th>{{ no_of_voted_polls }} Polls</th>
          </tr>
          <tr>
            <td>No. of Polls you have Created</td>
            <th>{{ created_polls }} Polls</th>
          </tr>
          <tr>
            <td>No. of Votes you have got from all your Polls</td>
            <th>{{ my_polls_total_votes }} Votes</th>
          </tr>
        </tbody>
      </table>
    </div>

	</div>

	{% else %}

  <div class="w-50 mr-auto ml-auto">
    <h2>
        You are not authenticated!! <br>
        Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Signup</a>!!
      </h2>
  </div>

	{% endif %}

{% endblock %}