{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	<title>Signup</title>
{% endblock %}

{% block headerright %}

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="{% url 'login' %}"><button class="btn btn-success mx-1" type="submit">Login</button></a>
      </li>
    </ul>

{% endblock %}

{% block content %}

	{% if messages %}

	{% for message in messages %}
		<div class="alert alert-{{message.tags}} alert-dismissible fade show w-50 ml-auto mr-auto mt-3" role="alert">
			<h2>{{ message }}</h2>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
	{% endfor %}

	{% endif %}

	<div class="w-50 mr-auto ml-auto">
		<hr style="background-color: red; height: 0.15em">
		<h2>Signup Form</h2>
		<hr style="background-color: red; height: 0.15em">
	</div>
	

	<br>

	<div class="w-50 mr-auto ml-auto">
		<form method="POST">
			{% csrf_token %}

			{{ form|crispy }}
			<button type="submit" class="btn btn-outline-success" value="Signup">Signup</button>
	  		<button type="reset" class="btn btn-outline-danger" value="Reset">Reset</button>
		</form>
		<br>
	</div>

{% endblock %}
