{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
	<title>Signup</title>
{% endblock %}


{% block content %}

	{% include 'messages.html' %}

	<div class="w-50 mr-auto ml-auto">
		<hr style="background-color: red; height: 0.15em">
		<h2>Signup Form</h2>
		<hr style="background-color: red; height: 0.15em">
	</div>
	

	<br>

	<div class="w-50 mr-auto ml-auto">
		<form method="POST" novalidate>
			{% csrf_token %}

			{{ form|crispy }}
			<button type="submit" class="btn btn-outline-success" value="Signup">Signup</button>
	  		<button type="reset" class="btn btn-outline-danger" value="Reset">Reset</button>
		</form>
		<br>
	</div>

{% endblock %}
